@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body {
  font-weight: bold;
  font-family: 'Mochiy Pop One', sans-serif;
}

.main-container {
  background-color: #903;
  margin: 5%;
  border-radius: 12px;
  box-shadow: 4px 4px  rgba(95, 6, 6, 0.8);
}

h1 {
  font-size: 60px;
  padding-left: 4%;
  color: green;
  text-align: center;
}

h2 {
  font-size: 38px;
  color: #f2f2f2;
}

.recent-refresh {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.recent-scores {
  width: 100%;
}

button {
  background: none;
  border: none;
}

.arrow {
  color: green;
  font-size: 40px;
  font-weight: bold;
}

ul {
  border-bottom: 2px solid black;
  margin: 0 0 24px 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 4px 8px;
  width: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

ul li:nth-child(even) {
  background: #f2f2f2;
  color: black;
}

#refresh {
  margin: auto 0;
}

.container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 2fr));
  margin: 0 auto;
  justify-content: space-between;
  column-gap: 124px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-score {
  width: 80%;
  margin-bottom: 24px;
}

#add-score {
  color: white;
  height: 30px;
  box-shadow: 2px 4px black;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 8px;
  padding: 4px 8px;
  margin-top: 12px;
  align-self: flex-end;
  width: auto;
}

input {
  width: auto;
  padding: 8px;
  border-radius: 4px;
}
